/*
* @file
* Provides CSS variables for Kingly Layouts.
*/

:root {
  /* Spacing Scale */
  --kl-spacing-xs: 0.25rem;
  --kl-spacing-sm: 0.5rem;
  --kl-spacing-md: 1rem;
  --kl-spacing-lg: 2rem;
  --kl-spacing-xl: 4rem;
  /*
  * Additional horizontal padding.
  * This variable is set by the padding-x utilities and consumed by the
  * container type rules to prevent style clashes.
  */
  --kl-padding-x-additional: 0rem;
  /* Border Radius Scale */
  --kl-border-radius-xs: 0.25rem;
  --kl-border-radius-sm: 0.5rem;
  --kl-border-radius-md: 1rem;
  --kl-border-radius-lg: 2rem;
  --kl-border-radius-xl: 4rem;
  --kl-border-radius-full: 9999px; /* Large value for pill/circle effect */
  /* Border Width Scale */
  --kl-border-width-sm: 1px;
  --kl-border-width-md: 2px;
  --kl-border-width-lg: 4px;
  /* Shadow Colors (example, could be more granular if needed) */
  --kl-shadow-color-light: rgba(0, 0, 0, 0.05);
  --kl-shadow-color-medium: rgba(0, 0, 0, 0.1);
  --kl-shadow-color-dark: rgba(0, 0, 0, 0.06);
  --kl-shadow-color-xl-dark: rgba(0, 0, 0, 0.04);
}
