:root {
  /* Spacing & Sizing */
  --kl-spacing-xs: 0.25rem;
  --kl-spacing-sm: 0.5rem;
  --kl-spacing-md: 1rem;
  --kl-spacing-lg: 2rem;
  --kl-spacing-xl: 4rem;
  /* Borders */
  --kl-border-radius-xs: 0.25rem;
  --kl-border-radius-sm: 0.5rem;
  --kl-border-radius-md: 1rem;
  --kl-border-radius-lg: 2rem;
  --kl-border-radius-xl: 4rem;
  --kl-border-radius-full: 9999px;
  --kl-border-width-sm: 1px;
  --kl-border-width-md: 2px;
  --kl-border-width-lg: 4px;
  /* Breakpoints */
  --kl-breakpoint-md: 768px;
  --kl-breakpoint-lg: 1024px;
  /* Colors & Shadows */
  --kl-shadow-color-light: rgba(0, 0, 0, 0.05);
  --kl-shadow-color-medium: rgba(0, 0, 0, 0.1);
  --kl-shadow-color-dark: rgba(0, 0, 0, 0.06);
  --kl-shadow-color-xl-dark: rgba(0, 0, 0, 0.04);
  /* Typography & Transforms */
  --kl-font-scale-90: 0.9;
  --kl-font-scale-95: 0.95;
  --kl-font-scale-105: 1.05;
  --kl-font-scale-110: 1.1;
  --kl-font-scale-125: 1.25;
  /* Transitions */
  --kl-transition-properties-default: opacity, transform, filter;
  --kl-transition-duration-default: 0.4s;
  --kl-transition-timing-function-default: ease-out;
  /* Default Layout Property Variables */
  --kl-padding-inline: 0;
  --kl-padding-block-start: 0;
  --kl-padding-block-end: 0;
  --kl-margin-inline: 0;
  --kl-margin-block-start: 0;
  --kl-margin-block-end: 0;
  --kl-gap: 0;
  /* Dedicated variable for full-width container alignment padding. */
  --kl-full-width-alignment-padding: 0;
}
