/*
* @file
* Provides alignment utility styles for Kingly Layouts.
* These utilities require the layout container to be a flex or grid container.
*/

/* Vertical Alignment (align-content) */
.kl-align-content-flex-start .layout__region {
  align-content: flex-start;
}
.kl-align-content-center .layout__region {
  align-content: center;
}
.kl-align-content-flex-end .layout__region {
  align-content: flex-end;
}
.kl-align-content-stretch .layout__region {
  align-content: stretch;
}
.kl-align-content-baseline .layout__region {
  align-content: baseline;
}

/* Horizontal Alignment (justify-content) */
.kl-justify-content-start {
  justify-content: flex-start;
}
.kl-justify-content-center {
  justify-content: center;
}
.kl-justify-content-end {
  justify-content: flex-end;
}
.kl-justify-content-space-between {
  justify-content: space-between;
}
.kl-justify-content-space-around {
  justify-content: space-around;
}
.kl-justify-content-space-evenly {
  justify-content: space-evenly;
}
