/*
* @file
* Provides border utility styles for Kingly Layouts.
*/

/* Border Radius */
.kl-border-radius-xs {
  border-radius: var(--kl-border-radius-xs);
}
.kl-border-radius-sm {
  border-radius: var(--kl-border-radius-sm);
}
.kl-border-radius-md {
  border-radius: var(--kl-border-radius-md);
}
.kl-border-radius-lg {
  border-radius: var(--kl-border-radius-lg);
}
.kl-border-radius-xl {
  border-radius: var(--kl-border-radius-xl);
}
.kl-border-radius-full {
  border-radius: var(--kl-border-radius-full);
}

/* Border Width */
.kl-border-width-sm {
  border-width: var(--kl-border-width-sm);
}
.kl-border-width-md {
  border-width: var(--kl-border-width-md);
}
.kl-border-width-lg {
  border-width: var(--kl-border-width-lg);
}

/* Border Style */
.kl-border-style-solid {
  border-style: solid;
}
.kl-border-style-dashed {
  border-style: dashed;
}
.kl-border-style-dotted {
  border-style: dotted;
}
