/*
 * @file
 * Provides the layout styles for kingly_fourcol.
 */
.layout--kingly_fourcol {
  display: flex;
  flex-wrap: wrap;
}

.layout--kingly_fourcol > .layout__region {
  flex: 1 1 100%; /* Default to full width on small screens */
}

/* Sizing variations for larger screens */
@media screen and (min-width: 40em) {
  /* Example breakpoint */
  .layout--kingly_fourcol {
    flex-wrap: nowrap; /* Prevent wrapping on larger screens */
  }
  .layout--kingly_fourcol--25-25-25-25 > .layout__region {
    flex: 0 0 25%;
  }

  .layout--kingly_fourcol--40-20-20-20 > .layout__region--first {
    flex: 0 0 40%;
  }
  .layout--kingly_fourcol--40-20-20-20 > .layout__region--second,
  .layout--kingly_fourcol--40-20-20-20 > .layout__region--third,
  .layout--kingly_fourcol--40-20-20-20 > .layout__region--fourth {
    flex: 0 0 20%;
  }

  .layout--kingly_fourcol--20-40-20-20 > .layout__region--first,
  .layout--kingly_fourcol--20-40-20-20 > .layout__region--third,
  .layout--kingly_fourcol--20-40-20-20 > .layout__region--fourth {
    flex: 0 0 20%;
  }
  .layout--kingly_fourcol--20-40-20-20 > .layout__region--second {
    flex: 0 0 40%;
  }

  .layout--kingly_fourcol--20-20-40-20 > .layout__region--first,
  .layout--kingly_fourcol--20-20-40-20 > .layout__region--second,
  .layout--kingly_fourcol--20-20-40-20 > .layout__region--fourth {
    flex: 0 0 20%;
  }
  .layout--kingly_fourcol--20-20-40-20 > .layout__region--third {
    flex: 0 0 40%;
  }

  .layout--kingly_fourcol--20-20-20-40 > .layout__region--first,
  .layout--kingly_fourcol--20-20-20-40 > .layout__region--second,
  .layout--kingly_fourcol--20-20-20-40 > .layout__region--third {
    flex: 0 0 20%;
  }
  .layout--kingly_fourcol--20-20-20-40 > .layout__region--fourth {
    flex: 0 0 40%;
  }
}
