{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: An array containing the content for the regions:
 *   - content: The content for the content region.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'kl',
  'kl-one-column',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {#
    Render any top-level elements that are not regions.
    This will automatically render `#video_background` and `#overlay`
    if they exist in the content array, respecting their weights.
    This is more maintainable than checking for each element individually.
    #}
    {{ content|without('content') }}

    {% if content.content %}
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {{ content.content }}
      </div>
    {% endif %}
  </div>
{% endif %}
